<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Board deletion notification</h1>
    <p>
      We want to notify you that the board '<%= @board_title %>' has been deleted.
    </p>
  </body>
</html>
