<div class="card">
    <div class="card-header">
        Change Records
    </div>
    <div class="card-body">
        <% records.each do |record| %>
            <div class="bg-light py-3 px-3 rounded mb-3">
                <div class="d-flex justify-content-between">
                    <p class="m-0"><%= record.new_list %></p>
                    <p class="m-0"><%= record.date.strftime("%d/%m/%y - %H:%M") %></p>
                </div>
            </div>
        <% end %>
    </div>
</div>
