<% presenter = UserPresenter.new(user) %>

<div class="card mb-4">
  <div class="card-header">
    User
  </div>
  <div class="card-body">
    <h5 class="card-title mb-3"><%= user.full_name %></h5>
    <p class="m-0 mb-1">
        <strong>User type: </strong>
        <%= presenter.auth_tier %>
    </p>

    <% if presenter.should_show_manager_name? %>
        <p class="m-0 mb-1">
            <strong>Manager: </strong>
            <%= user.manager.full_name %>
        </p>
        <%= link_to 'see manager', user_path(user.manager), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
