<div class="card text-center mt-5">
    <div class="card-header">
        <%= subtitle %>
    </div>
    <div class="card-body">
        <h5 class="card-title"><%= title %></h5>
        <p class="card-text"><%= msj %></p>
        <% unless url.nil? %>
            <%= link_to 'Unblock', url, class: 'btn btn-primary' %>
        <% end %>
    </div>
</div>
