<div class="presentation text-white text-center d-flex align-items-center justify-content-center flex-column">
  <div>
    <h1 class="mb-4">Welcome to GreatBoard !</h1>
    <h5>The place where the big ideas are born and executed</h5>
    <hr class="mt-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid magni vel maxime at voluptatum iusto voluptas necessitatibus ex sit consectetur.</p>
  </div>

  <div class="d-flex justify-content-center mt-3">
    <%= link_to 'See plans !', our_plans_path, class: 'btn btn-success sign-in-btn' %>
  </div>
</div>

<div class="container">
  <div class="section-first">
    <div>
      <h2 class="text-center">Rich project management app</h2>
      <p class="text-center">Organizate the tasks and complete your dreams through our fabulous tool</p>
    </div>

    <hr class="my-5">

    <div class="row">
      <% app_features.each do |feature| %>
        <%= render "feature_card", feature %>
      <% end %>
    </div>
  </div>

  <div class="section">
    <div>
      <h2 class="text-center">The best prices !</h2>
      <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta blanditiis amet harum!</p>
    </div>

    <hr class="my-5">

    <div class="mt-4 p-5 bg-dark text-white rounded text-center">
      <h1>Prices made only for you</h1>
      <p>We live on a very competitive world, so we want to assure everybody have the necessary tools to grow and compete</p>

      <div class="d-flex justify-content-center mt-3">
        <%= link_to 'See plans !', our_plans_path, class: 'btn btn-success sign-in-btn' %>
      </div>

    </div>
  </div>
</div>
