<div class="card mb-4">
  <div class="card-header">
    Team Board
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= board.title %> </h5>
    <p class="card-text">10 tasks</p>
    <div class="d-flex justify-content-end">
        <%= link_to 'Delete', board_path(board),
                    method: :delete, 
                    class: 'btn btn-danger me-2', 
                    data: {confirm: "Do you really want to delete"} %>
        <%= link_to 'Edit', edit_board_path(board),
                    class: 'btn btn-warning me-2' %>
        <%= link_to 'Enter', board_path(board), class: 'btn btn-primary' %>
    </div>
  </div>
</div>
