@import 'bootstrap/dist/css/bootstrap';

.option-btn {
    min-width: 85px;
}

.task-list-bottom {
    height: 5px;
}

.row-fluid-scroll{
    white-space: nowrap;
}
.row-fluid-scroll .col-inside-scroll{
    display: inline-block !important;
}

.cl-picker {
    height: 35px;
}

.no-a-style {
    color: inherit !important; /* blue colors for links too */
    text-decoration: inherit !important; /* no underline */
}
