.presentation {
    padding: 30px 30px;
    background-color: red;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("idea-sky.jpg");
    background-size: cover;
    background-position: center;
    min-height: 550px;
}

.sign-in-btn {
    padding: 10px 20px !important;
    font-size: 1.3rem !important;
}

.section-first {
    padding: 80px 0;
}

.section {
    padding-bottom: 80px;
}
