<% if cookies[:random_message_active] %>
    <div class="alert alert-info mt-5" role="alert">
        <p class="m-0"><small>Random message</small></p>
        <p class="m-0"><%= random_message %></p>
    </div>
<% end %>
