<div class="footer">
    <div class="footer-top footer-section">
        <div class="container">
            <div class="d-flex align-items-center justify-content-center">
                <%= image_tag 'logo.png', alt: 'logo', class: 'logo' %>
                <h5>GreatBoard</h5>
            </div>
            <hr class="my-4">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam nisi sint, fugit voluptatibus rerum rem distinctio suscipit, cupiditate tempora accusamus earum? Fuga voluptate perspiciatis officia reprehenderit maiores, cum quidem reiciendis!</p>
        </div>
    </div>

    <div class="footer-bottom footer-section">
        <div class="container">
            <p class="text-center m-0">© 2022 Copyright</p>
        </div>
    </div>
</div>
